<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-sound"
        version="0.2.1">

  <name>Sound Plugin</name>
  <description>A cordova plugin for native sound.</description>
  <author>Jernung, LLC</author>
  <license>MIT</license>
  <keywords>cordova,audio,sound</keywords>

  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=6.3.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
  </engines>

  <js-module src="www/sound.js" name="SoundPlugin">
    <clobbers target="plugins.sound" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="SoundPlugin" >
        <param name="android-package" value="com.jernung.plugins.sound.SoundPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/SoundPlugin.java" target-dir="src/com/jernung/plugins/sound" />

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
			<feature name="SoundPlugin">
				<param name="ios-package" value="SoundPlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>

    <source-file src="src/ios/SoundPlugin.swift" />

  </platform>

</plugin>
